<ion-view view-title="درباره ما" >
  <ion-content id="about-page">
    <div class="about-body rtl">
      <div class="logo"></div>
      <br>
      <p>

        سامانه شفاداک با هدف ارائه ساده ترین و کاربردی ترین سامانه جامع معرفی، جستجو و رزرو اینترنتی وقت ملاقات
        پزشکان و متخصصین در شرکت توسعه و فنآوری اطلاعات آفتاب شفا زیر نظر دانشگاه علوم پزشکی تبریز طراحی و
        پیاده سازی شده است. در این سامانه علاوه بر جستجو و رزرو وقت ملاقات در کلینکهای عمومی و تخصصی اعم از
        خصوصی و یا دولتی (بیمارستانها)، کاربران محترم میتوانند از پزشکانی که اطلاعات آنها در سامانه ثبت شده است
        نیز وقت ملاقات رزرو نمایند. همچنین پزشکان محترم دارای مطب میتوانند با ثبت نام در
        این سامانه، به جمع خانواده بزرگ سلامت آفتاب شفا بپیوندند.
        <br>
        <br>
        آدرس: استان آ. شرقی، تبریز، خیابان پاستور قدیم، مابین شریعتی و لاله زار، مرکز رشد فناوری تجهیزات
        پزشکی دانشگاه علوم پزشکی تبریز
        <br>
        تلفن:    574 47 338 041
        <br>
        همراه: ۹۵۳۷ ۴۹۷ ۰۹۱۰
        <br>
        آدرس پست الکترونیک: info@aftabeshafa.ir
        <br>
      </p>
    </div>
    <br>
    <br>
    <br>
    <br>

  </ion-content>
</ion-view>
