<ion-view view-title="شفاداک " type="bar-stable" hide-nav-bar="false" ng-controller="Search" ng-init="init()">


    <label class="bar bar-sub-header item item-input item-select select-city">
        <div class="input-label">
            نام شهر :
        </div>
        <select ng-model="city">
            <option ng-repeat="row in cities" value="{{row.city}}" selected>{{row.city}}</option>

        </select>
    </label>

    <div class=" bar bar-sub-header item-input-inset ltr">
        <!--label class="item item-input ">
            <input  type="text" typeahead="state for state in searchs | filter:$viewValue | limitTo:3" placeholder=" بر اساس شهر یا نوع بیماری یا دکتر" ng-model="selected" >
        </label>

        <button class="button button-energized icon ion-search col col-20"
                ng-click="getResult(selected)">

        </button-->


        <label class="item-input-wrapper search">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" typeahead="state for state in searchs | filter:$viewValue | limitTo:3"
                   placeholder=" بر اساس  تخصص یا نوع بیماری یا دکتر" ng-model="selected" class="rtl">
        </label>
        <button class="button button-clear button-positive" ng-click="getResult(selected)">
            جستجو
        </button>

    </div>

    <ion-content class="browse-content">


        <!--div class="list list-inset scroll-content ">
            <div ng-controller="Search" ng-init="init()" class="row">
                <label class="item item-input col col-80 " id="searchin">
                    <input id="textleft" class="searchbar " type="text" typeahead="state for state in searchs | filter:$viewValue | limitTo:3" placeholder=" بر اساس شهر یا نوع بیماری یا دکتر" ng-model="selected" >
                </label>

                <button class="button button-energized icon ion-search col col-20" id="searchbtn"
                        ng-click="getResult(selected)">

                </button>
            </div>
            <h1 id="ostanbrowse">بر اساس استانها</h1>
            <hr id="browsehr"/>
            <ion-scroll style="width: 100%; height: 100%;">
                <div class="list list-inset" ng-controller="Ostans" ng-hide="rootScope.hide4search">

                    <a class="item" ng-repeat="row in ostans" href="#/app/cities/{{row.code}}">
                        {{row.ostands}}
                    </a>
                    </div>

            </ion-scroll>
        </div
        </div-->
        <div class="list" ng-if="selected!=''">
            <div class="item item-divider" ng-if="doctors.length>0">
                دکتر ها
            </div>
            <a class="item item-avatar" ng-repeat="row in doctors" href="#">
                <img class="may-avatar" ng-src="{{$root.httpsite + row.pic.replace('~','')}}">
                <h2>{{row.fl}}</h2>
                <p>{{row.specialty}}</p>
            </a>
            <div class="item item-divider" ng-if="hospitals.length>0">
                بیمارستانها
            </div>
            <a class="item item-thumbnail-left"  ng-repeat="row in hospitals" href="#/app/hprof/{{row.docid}}">
                <img ng-src="{{$root.httpsite+'/'+row.pic}}">
                <h2>{{row.fl}}</h2>
                <p>{{row.experience}}</p>
                <p>{{row.specialty}}</p>
            </a>
            <div class="item item-divider" ng-if="hdoctors.length>0">
                پزشک بیمارستان
            </div>
            <a class="item item-avatar " ng-repeat="row in hdoctors" href="#">
                <img class="may-avatar" ng-src="{{$root.httpsite +'/'+ row.e.pic.replace('~/','')}}">
                <h2>{{row.e.fl}}</h2>
                <p>{{row.e.spe}}</p>
                <span>بیمارستان : {{row.fl}}</span>
            </a>
            <div class="item item-divider" ng-if="speciality.length>0" >
                تخصص ها
            </div>
            <a class="item " ng-repeat="row in speciality" href="#">
                <h2>{{row.speciality1}}</h2>
                </a>
        </div>
        <div class="sp ltr " ng-if="selected==''">
            <div class="row">
                <div class="col bgsp1"><img src="img/Brain.png"><p> مغز و اعصاب</p></div>
                <div class="col bgsp2"><img src="img/Dentist.png"><p>دندان پزشکی</p></div>
                <div class="col bgsp3"><img src="img/Dermatologist.png"><p>پوست و مو</p></div>
                <div class="col bgsp4"><img src="img/Digestive.png"><p>گوارش</p></div>
            </div>
            <div class="row">
                <div class="col"><img src="img/ENT.png"><p>گوش،حلق،بینی</p></div>
                <div class="col"><img src="img/Eye.png"><p>چشم پزشکی</p></div>
                <div class="col"><img src="img/General.png"><p>پزشک عمومی</p></div>
                <div class="col"><img src="img/Gynecologist.png"><p>زنان و زایمان</p></div>

            </div>
            <div class="row">
                <div class="col"><img src="img/Hear.png"><p>قلب</p></div>
                <div class="col"><img src="img/Infection.png"><p>بیماریهای عفونی</p></div>
                <div class="col"><img src="img/Inner.png"><p>داخلی</p></div>
                <div class="col"><img src="img/Kidney.png"><p>کلیه و مجاری ادراری</p></div>

            </div>
            <div class="row">
                <div class="col"><img src="img/Lung.png"><p>بیماریهای تنفسی</p></div>
                <div class="col"><img src="img/Nutrition.png"><p>تغذیه</p></div>
                <div class="col"><img src="img/Orthopaedics.png"><p>ارتوپدی</p></div>
                <div class="col"><img src="img/Pediatrician.png"><p>کودکان</p></div>
            </div>
            <div class="row">
                <div class="col "></div>
                <div class="col "><img src="img/Psychology.png"><p>روانپزشکی و مشاوره</p></div>
                <div class="col"><img src="img/Surgery.png"><p>جراحی عمومی</p></div>
                <div class="col "></div>
            </div>
            <button class="rtl button button-clear button-positive button-full">
                موارد بیشتر...
            </button>
        </div>

    </ion-content>
</ion-view>
