<ion-view view-title="شفاداک " type="bar-stable" hide-nav-bar="false" ng-controller="Search" ng-init="init()">


    <label class="bar bar-sub-header item item-input item-select select-city">
        <div class="input-label">
            نام شهر :
        </div>
        <select>
            <option ng-repeat="row in cities" value="{{row.cityid}}">{{row.city}}</option>

        </select>
    </label>

    <div class=" bar bar-sub-header item-input-inset ltr">
        <!--label class="item item-input ">
            <input  type="text" typeahead="state for state in searchs | filter:$viewValue | limitTo:3" placeholder=" بر اساس شهر یا نوع بیماری یا دکتر" ng-model="selected" >
        </label>

        <button class="button button-energized icon ion-search col col-20"
                ng-click="getResult(selected)">

        </button-->


        <label class="item-input-wrapper search">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" typeahead="state for state in searchs | filter:$viewValue | limitTo:3"
                   placeholder=" بر اساس شهر یا نوع بیماری یا دکتر" ng-model="selected" class="rtl">
        </label>
        <button class="button button-clear button-positive">
            جستجو
        </button>

    </div>

    <ion-content class="browse-content">

        <!--div class="list list-inset scroll-content ">
            <div ng-controller="Search" ng-init="init()" class="row">
                <label class="item item-input col col-80 " id="searchin">
                    <input id="textleft" class="searchbar " type="text" typeahead="state for state in searchs | filter:$viewValue | limitTo:3" placeholder=" بر اساس شهر یا نوع بیماری یا دکتر" ng-model="selected" >
                </label>

                <button class="button button-energized icon ion-search col col-20" id="searchbtn"
                        ng-click="getResult(selected)">

                </button>
            </div>
            <h1 id="ostanbrowse">بر اساس استانها</h1>
            <hr id="browsehr"/>
            <ion-scroll style="width: 100%; height: 100%;">
                <div class="list list-inset" ng-controller="Ostans" ng-hide="rootScope.hide4search">

                    <a class="item" ng-repeat="row in ostans" href="#/app/cities/{{row.code}}">
                        {{row.ostands}}
                    </a>
                    </div>

            </ion-scroll>
        </div
        </div-->
        <div class="sp ltr " ng-if="selected==''">
            <div class="row">
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
            </div>

        </div>

    </ion-content>
</ion-view>
