<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">تغییر رمز عبور</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closechpass()">بستن</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form class="form-change-pass" ng-submit="changepassword()">
            <div class="list rtl">
                <label class="item rtl-item-input item-input item-stacked-label">
                    <span class="input-label">رمز فعلی</span>
                    <input type="text" ng-model="chpass.oldpass" placeholder="oldPass0" required="">
                </label>
                <label class="item rtl-item-input item-input item-stacked-label">
                    <span class="input-label">رمز جدید</span>
                    <input type="password" ng-class="{'has-error': chpass.newpass.length!=0 && chpass.newpass!=chpass.renewpass }" ng-model="chpass.newpass" placeholder="newPass1" required>
                </label>
                <label class="item rtl-item-input item-input item-stacked-label">
                    <span class="input-label">تکرار رمز جدید</span>
                    <input type="password" ng-class="{'has-error': chpass.renewpass.length!=0 && chpass.newpass!=chpass.renewpass }" ng-model="chpass.renewpass" placeholder="newPass1" required>
                </label>
                <button  class="button button-block button-positive" type="submit">تغییر</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
