<ion-nav-view cache-view="false">
<ion-view view-title="لیست دکتر ها ">
    <ion-content class="padding">
        <div class="list" ng-controller="Docs" ng-init="initDoctors()">
            <a class="item item-avatar" ng-repeat="row in doctors" href="#/app/doctorprof/{{row.docid}}">
                <img class="may-avatar" ng-src="{{$root.httpsite +'/'+ row.pic.replace('~','')}}">
                <h2>{{row.fl}}</h2>
                <p>{{row.specialty}}</p>
                <br>
            </a>
            <a class="item item-avatar" ng-repeat="row in hdoctors" href="#/app/hdoctorprof/{{row.docid}}/{{row.dhid}}">
                <img class="may-avatar" ng-src="{{$root.httpsite +'/'+ row.pic.replace('~','')}}">
                <h2>{{row.fl}}</h2>
                <p>{{row.spe}}</p>
                <br>
            </a>
            <p ng-if="doctors.length==0 && hdoctors.length==0">
                موردی موجود نیست !
            </p>
        </div>
    </ion-content>
</ion-view>
    </ion-nav-view>
