<ion-nav-view cache-view="false">
<ion-view view-title="لیست بیمارستانها">
    <ion-content class="padding">
        <div class="list" ng-controller="Hospital" ng-init="initHospitals()">
            <a class="item item-thumbnail-left" ng-repeat="row in hospitals" href="#/app/hprof/{{row.docid}}">
                <img ng-src="{{$root.httpsite +'/'+ row.pic.replace('~','')}}">
                <h2>{{row.fl}}</h2>
                <p>{{row.specialty}}</p>
            </a>
            <p ng-if="hospitals.length==0">
                موردی موجود نیست !
            </p>
        </div>
    </ion-content>
</ion-view>
    </ion-nav-view>
