<ion-view view-title="پروفایل بیمارستان">
    <ion-content class="padding" ng-controller="Hospital" ng-init="transfer2Hpro();">
        <div class="list card"  >

            <div class="item item-avatar sharp">
                <img ng-src="{{$root.httpsite + '/'+hospital.e.pic.replace('~','')}}">
                <h2>{{hospital.e.fl}}</h2>
                <p>{{hospital.e.experience}}</p>
            </div>

            <div class="item item-body">
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <img ng-src="{{httpsite +'/'+ hospital.e.pic1}}" class="slideimg">
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="{{httpsite +'/'+ hospital.e.pic2}}" class="slideimg">
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="{{httpsite +'/'+ hospital.e.pic3}}" class="slideimg">
                    </ion-slide>
                </ion-slide-box>
                <p>
                    حوضه تخصص: {{hospital.e.Statement}}
                    <br/>
                    شهر: {{hospital.e.city}}

                </p>

                <div class="list hp-doc-card">
                    <div class="item item-divider">
                        ساعات ملاقات
                    </div>

                    <a class="item" href="#">
                        <p> {{hospital.e.worktime}}</p>
                    </a>
                    <div class="item item-divider">
                        شماره تماس
                    </div>

                    <a class="item" href="#">
                        <p> {{hospital.e.tell}}</p>
                    </a>
                    <div class="item item-divider">
                        آدرس
                    </div>

                    <a class="item" href="#">
                        <p> {{hospital.e.address}}</p>
                    </a>
                </div>


            </div>

            <!--<a href="#/app/map/{{hospital.map.latitude0}}/{{hospital.map.latitude1}}">-->
                <!--<map data-tap-disabled="true" on-create="mapCreated(map,hospital.map.latitude0,hospital.map.latitude1)"></map>-->
            <!--</a>-->
            <a class="item tabs tabs-secondary tabs-icon-left" href="#/app/map/{{hospital.map.latitude0}}/{{hospital.map.latitude1}}">
                مسیر دهی از روی نقشه
            </a>

        </div>

        <div class="list card hp-doc-card" >
            <div class="item tabs tabs-secondary tabs-icon-left">

                <span>پزشکان بیمارستان</span>


            </div>
                <a class="item item-avatar" ng-repeat="hdoc in hdoctors | orderBy: 'lnamed'" href="#/app/hdoctorprof/{{hospital.e.docid}}/{{hdoc.dhid}}">
                    <img class="may-avatar" ng-src="{{$root.httpsite +'/'+ hdoc.pic.replace('~/','')}}">
                    <h2>{{hdoc.named}} {{hdoc.lnamed}}</h2>


                    <p>{{hdoc.spe}}</p>
                    <span class="item-text-wrap hp-doc-span">فارغ التحصیل از: {{hdoc.el}}</span>
                </a>
        <br>
        <br>


        </div>

    </ion-content>
</ion-view>
