<ion-view ng-controller="LogIn" cache-view="false" ng-init="init()"  view-title="شفاداک " hide-nav-bar="true" type="bar-stable" >
  <ion-content  >
    <div id="logodiver">
    <img  id="logoconsis" ng-src="img/Logo.png" width="100%"/>
</div>
<form ng-submit="Login(username,password,'client')">
      <div class="list list-inset ">
        <label class="item item-input " >
          <i class="fa fa-user padding-right-20"></i>
          <input ng-model="username" type="text" placeholder="نام کاربری">
        </label>
      </div>
      <div class="list list-inset ">
        <label class="item item-input " >
          <i class=" fa fa-lock padding-right-20"></i>
          <input ng-model="password" type="password" placeholder="رمز عبور">
        </label>

</div>
<button class="button-full button button-positive" type="submit">
  ورود
</button></form>

      </ion-content>
      <div class="bar bar-footer footerlogin ltr">
          <a class="button button-clear button-positive" ng-click="opensignup()">عضویت</a>
        <div class="title"></div>
        <a class="button button-clear button-positive" ng-click="goWithoutlogin()">ورود بدون حساب کاربری</a>
      </div>

</ion-view>
