<ion-view view-title="لیست رزرو ها">
    <ion-content ng-controller="Resbox" ng-init="init()">
        <ion-list>
            <ion-item ng-repeat="row in appo" href="#" class=" ion-ios-pulse-strong">
                <p>کد ثبت :{{row.id}}</p>
                <p>نام دکتر:{{row.fl}}</p>
                <p>زمان رزرو:{{row.year}}/{{row.month}}/{{row.day}} | {{row.time}}</p>

            </ion-item>
        </ion-list>
        <hr>
        <ion-list>
            <ion-item ng-repeat="row in happo" href="#" class="ion-ios-pulse-strong">
                <p>کد ثبت :{{row.hid}}</p>
                <p>نام دکتر:{{row.fl}}</p>
                <p>زمان رزرو:{{row.year}}/{{row.month}}/{{row.day}} | {{row.time}}</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item ng-if="happo.length==0 && appo.length==0">
            <h2>موردی یافت نشد !</h2>
        </ion-item>
            </ion-list>
    </ion-content>
</ion-view>
