<ion-view view-title="لیست رزرو ها">
    <ion-content ng-controller="Resbox" ng-init="init()">
        <ion-list>
            <ion-item ng-repeat="row in appo | orderBy:'id'" href="#"  >
                <i class="icon ion-ios-pulse-strong"></i>
                <p>کد ثبت: <a class="assertive">{{row.id}}</a></p>
                <p>نام دکتر: <a class="assertive">{{row.fl}}</a></p>
                <p>تاریخ رزرو: <a class="positive">{{row.year}}/{{row.month}}/{{row.day}}</a></p>
                <p>زمان رزرو: <a class="positive">{{row.time}}</a></p>

            </ion-item>
        </ion-list>
        <hr>
        <ion-list>
            <ion-item ng-repeat="row in happo | orderBy:'hid'" href="#">
                <i class="icon ion-ios-pulse-strong"></i>
                <p>کد ثبت: <a class="assertive">{{row.hid}}</a></p>
                <p>نام دکتر: <a class="assertive">{{row.fl}}</a></p>
                <p>تاریخ رزرو: <a class="positive">{{row.year}}/{{row.month}}/{{row.day}}</a></p>
                <p>زمان رزرو: <a class="positive">{{row.time}}</a></p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item ng-if="happo.length==0 && appo.length==0">
            <h2>موردی یافت نشد !</h2>
        </ion-item>
            </ion-list>
    </ion-content>
</ion-view>
