<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">بازیابی رمز عبور</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closerepass()">بستن</button>
        </div>
    </ion-header-bar>
    <ion-content class="signup-form">
        <form ng-submit="resetpassword()">
            <div class="list rtl">
                <h4>لطفا منتظر دریافت کد تایید باشید </h4>
                <label class="item rtl-item-input item-input item-stacked-label">
                <span class="input-label">کد تایید</span>
                <input type="text" ng-model="repass.token" placeholder="PF8AR">
                </label>
                <label class="item rtl-item-input item-input item-stacked-label">
                    <span class="input-label">کد ملی</span>
                    <input type="text" ng-model="repass.idU" placeholder="1368765439">
                </label>
                <label class="item rtl-item-input item-input item-stacked-label">
                    <span class="input-label">رمز جدید</span>
                    <input type="text" ng-model="repass.password" placeholder="@passW0rd">
                </label>
                <button class="button button-block button-positive" type="submit" >بازیابی</button>
                <button class="button button-block button-energized " type="reset" ng-click="mobileValidation()" ><i class="ionicons ion-loop"></i> ارسال مجدد</button>
            </div>
        </form>


    </ion-content>
</ion-modal-view>
