<ion-view view-title="پروفایل" >
  <ion-content>
<div class="list ">
  <a class="item item-icon-left "  ng-controller="Search" ng-click="remove()" >
    <i class="fa fa-trash-o "></i>
    حذف جستجو های اخیر
  </a>
  <a class="item item-icon-left"   ng-controller="Util" href="#/app/resbox" >
    <i class="ionicons ion-ios-browsers-outline"></i>
   لیست وقت های رزرو شده
  </a>
  <a class="item item-icon-left"   ng-controller="Util" ng-click="logout()" >
    <i class="ionicons ion-log-out"></i>
    خروج از سیستم
  </a>


</div>
</ion-content>
  </ion-view>
