<ion-view view-title="ثبت نام" hide-nav-bar="true">
  <ion-content>
	  <div id="backsignup">
		  
	
	  </div>
	  <div class="list list-inset">
  <label class="item item-input" >
    <input type="text" placeholder="شماره تلفن">
  </label>
   <label class="item item-input">
    <input type="text" placeholder="نام کامل">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="کد ملی">
  </label>
   <label class="item item-input">
    <input type="password" placeholder="رمز عبور">
  </label>
  <label class="item item-input">
   <input type="password" placeholder="تکرار رمز عبور">
  </label>
  <button class="button button-full button-positive">
  ثبت نام 
</button>
  <button class="button button-calm" id="signupbutton1">
  بدون حساب 
</button>
<button class="button button-calm" id="signupbutton">
  ورود
</button>
</div>

  </ion-content>
</ion-view>