<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-hide="signupData.show" ng-click="signupData.show=true"><i class="ionicons ion-chevron-left"></i></button>
        </div>
        <h1 class="title">ثبت نام</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closereg()">بستن</button>
        </div>
    </ion-header-bar>
    <ion-content >
        <form class="signup-form" ng-submit="mobileValidation()" ng-init="signupData.show=true">
                    <span class=" font-size-12 button button-full button-assertive rtl">به دلیل احراز هویت در زمان پذیرش، پر کردن صحیح موارد زیر الزامی است.</span>

            <div class="list rtl" ng-show="signupData.show">
                <label class="item item-input">
                    <span class="input-label">نام کاربری</span>
                    <input type="text" ng-model="signupData.username" required="">
                </label>
                <label class="item item-input">
                    <span class="input-label" >رمز عبور</span>
                    <input type="password" ng-class="{'has-error': signupData.password!='' && signupData.password!=signupData.repassword }" ng-model="signupData.password" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">تکرار رمز عبور</span>
                    <input type="password" ng-class="{'has-error': signupData.repassword!='' && signupData.password!=signupData.repassword }" ng-model="signupData.repassword" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">نام</span>
                    <input type="text" ng-model="signupData.fname" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">نام خانوادگی</span>
                    <input type="text" ng-model="signupData.lname" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">نام پدر</span>
                    <input type="text" ng-model="signupData.father" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">کد ملی</span>
                    <input type="text" ng-class="{'has-error': signupData.codemeli.length!=0 && signupData.codemeli.length!=10 || signupData.codemeli.length!=0 && !valDig(signupData.codemeli) }" ng-model="signupData.codemeli" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">شماره همراه</span>
                    <input type="text" ng-class="{'has-error': signupData.mobile.length!=0 && signupData.mobile.length !=11 || signupData.mobile.length!=0 && !valDig(signupData.mobile) }" ng-model="signupData.mobile" required>
                </label>
                    <button ng-disabled="signupData.father.length==0 || signupData.fname.length==0 || signupData.lname.length==0 || signupData.username.length==0 || signupData.username.$dirty && signupData.username.$invalid || signupData.password!=signupData.repassword || signupData.password.length==0 || signupData.fl.$dirty && signupData.fl.$invalid || !valDig(signupData.codemeli) || signupData.codemeli.length!=10 || signupData.mobile.length!=11 || !valDig(signupData.mobile)"
                            class="button button-block button-positive" type="submit">ثبت نام !</button>

            </div>
        </form>
        <form ng-submit="Signup()">
            <div class="list rtl" ng-hide="signupData.show">
                <h5 class="rtl-item-input">هم اکنون کد تایید بصورت sms برای شما ارسال میشود، این کد را در فیلد پایین وارد نمایید.</h5>
                <label class="item rtl-item-input item-input item-stacked-label">
                    <span class="input-label">کد تایید شماره موبایل</span>
                    <input type="text" ng-model="signupData.token" placeholder="PF8AR">
                </label>
                    <button class="button button-block button-positive" type="submit" >تایید</button>
                    <button class="button button-block button-energized " type="reset" ng-click="mobileValidation()" ><i class="ionicons ion-loop"></i> ارسال مجدد</button>
            </div>
        </form>


    </ion-content>
</ion-modal-view>
