
<ion-view view-title="تخصص" cache-view="false" can-swipe-back="true">
    <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="دکترها" icon=" micon-doc" href="#/app/specialResult/doctors" selected>
            <ion-nav-view name="doctors-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="بیمارستانها" icon=" micon-hos" href="#/app/specialResult/hospitals" class="">
            <ion-nav-view name="hospitals-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>

